In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [5]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [6]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [7]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [8]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [10]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [11]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [12]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [13]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('one_hot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [14]:
## ANN Regression

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
## Build the model

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) ## Output layer for regression
])

## Note - whenever we don't apply any activation function in the output, the default is linear activation function. It is for regression.


## Compile the model

model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

/Users/murtuzasaifee/Documents/Personal/Codes/MLWorkspace/ANN Classification/.venv/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [18]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [19]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 998us/step - loss: 99860.1328 - mae: 99860.1328 - val_loss: 98528.9531 - val_mae: 98528.9531
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 567us/step - loss: 99696.5625 - mae: 99696.5625 - val_loss: 97128.9219 - val_mae: 97128.9219
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - loss: 98127.3828 - mae: 98127.3828 - val_loss: 93544.4766 - val_mae: 93544.4766
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - loss: 94645.1953 - mae: 94645.1953 - val_loss: 87568.4141 - val_mae: 87568.4141
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 562us/step - loss: 86727.8516 - mae: 86727.8516 - val_loss: 79752.7891 - val_mae: 79752.7891
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 849us/step - loss: 79472.2109 - mae: 79472.2109 - val_loss: 71269.1562 - val_mae: 71269.1562
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 565us/step - loss: 69502.6875 - mae: 69502.6875 - val_loss: 63540.1211 - val_mae: 63540.1211
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 547us/step - loss: 62620.9219 - mae: 62620.9219 - val_loss: 57618.3711 - val_mae: 57618.3711
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 541us/step - loss: 57522.6289 - mae: 57522.6289 - val_loss: 53811.9297 - val_mae: 53811.9297
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 648us/step - loss: 53345.8438 - mae: 53345.8438 - val_loss: 51845.3047 - val_mae: 51845.3047
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - loss: 52149.1523 - mae: 52149.1523 - val_loss: 51136.2109 - val_mae: 51136.2109
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 538us/step - loss: 50789.2617 - mae: 50789.2617 - val_loss: 50918.6133 - val_mae: 50918.6133
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - loss: 50535.1094 - mae: 50535.1094 - val_loss: 50852.4961 - val_mae: 50852.4961
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step - loss: 50166.2461 - mae: 50166.2461 - val_loss: 50820.4023 - val_mae: 50820.4023
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 566us/step - loss: 49637.0117 - mae: 49637.0117 - val_loss: 50792.1055 - val_mae: 50792.1055
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step - loss: 50017.4453 - mae: 50017.4453 - val_loss: 50767.9531 - val_mae: 50767.9531
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 547us/step - loss: 50516.6211 - mae: 50516.6211 - val_loss: 50738.1875 - val_mae: 50738.1875
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - loss: 50007.0703 - mae: 50007.0703 - val_loss: 50706.8086 - val_mae: 50706.8086
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 624us/step - loss: 49524.0625 - mae: 49524.0625 - val_loss: 50670.7891 - val_mae: 50670.7891
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - loss: 49920.9297 - mae: 49920.9297 - val_loss: 50631.5391 - val_mae: 50631.5391
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 764us/step - loss: 50585.5977 - mae: 50585.5977 - val_loss: 50606.5664 - val_mae: 50606.5664
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - loss: 50105.4648 - mae: 50105.4648 - val_loss: 50588.2617 - val_mae: 50588.2617
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - loss: 49860.8398 - mae: 49860.8398 - val_loss: 50558.8164 - val_mae: 50558.8164
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 537us/step - loss: 49509.3359 - mae: 49509.3359 - val_loss: 50539.6602 - val_mae: 50539.6602
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 540us/step - loss: 49982.7109 - mae: 49982.7109 - val_loss: 50509.1914 - val_mae: 50509.1914
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 575us/step - loss: 49784.5156 - mae: 49784.5156 - val_loss: 50488.5859 - val_mae: 50488.5859
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 527us/step - loss: 49654.8828 - mae: 49654.8828 - val_loss: 50473.6953 - val_mae: 50473.6953
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - loss: 50017.8359 - mae: 50017.8359 - val_loss: 50457.9453 - val_mae: 50457.9453
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 539us/step - loss: 50400.0703 - mae: 50400.0703 - val_loss: 50445.9609 - val_mae: 50445.9609
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - loss: 49893.7305 - mae: 49893.7305 - val_loss: 50427.8828 - val_mae: 50427.8828
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 577us/step - loss: 49529.6602 - mae: 49529.6602 - val_loss: 50422.6094 - val_mae: 50422.6094
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 648us/step - loss: 49440.7969 - mae: 49440.7969 - val_loss: 50415.3984 - val_mae: 50415.3984
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 656us/step - loss: 49616.7656 - mae: 49616.7656 - val_loss: 50397.5469 - val_mae: 50397.5469
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 539us/step - loss: 49727.2852 - mae: 49727.2852 - val_loss: 50389.9414 - val_mae: 50389.9414
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step - loss: 49066.6680 - mae: 49066.6680 - val_loss: 50371.2969 - val_mae: 50371.2969
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - loss: 49501.5547 - mae: 49501.5547 - val_loss: 50359.2578 - val_mae: 50359.2578
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - loss: 50215.7422 - mae: 50215.7422 - val_loss: 50350.5469 - val_mae: 50350.5469
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 542us/step - loss: 49350.0391 - mae: 49350.0391 - val_loss: 50344.1367 - val_mae: 50344.1367
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 553us/step - loss: 49431.0352 - mae: 49431.0352 - val_loss: 50341.1484 - val_mae: 50341.1484
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 573us/step - loss: 49680.5898 - mae: 49680.5898 - val_loss: 50330.8320 - val_mae: 50330.8320
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - loss: 49833.4883 - mae: 49833.4883 - val_loss: 50332.7383 - val_mae: 50332.7383
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step - loss: 49690.9375 - mae: 49690.9375 - val_loss: 50329.2148 - val_mae: 50329.2148
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - loss: 49234.5664 - mae: 49234.5664 - val_loss: 50321.2344 - val_mae: 50321.2344
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 546us/step - loss: 49550.6562 - mae: 49550.6562 - val_loss: 50311.8398 - val_mae: 50311.8398
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 528us/step - loss: 49422.8164 - mae: 49422.8164 - val_loss: 50312.0195 - val_mae: 50312.0195
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - loss: 49769.7188 - mae: 49769.7188 - val_loss: 50314.2578 - val_mae: 50314.2578
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 532us/step - loss: 49466.2578 - mae: 49466.2578 - val_loss: 50304.7461 - val_mae: 50304.7461
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 632us/step - loss: 49542.0703 - mae: 49542.0703 - val_loss: 50300.8594 - val_mae: 50300.8594
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - loss: 49234.8867 - mae: 49234.8867 - val_loss: 50290.9414 - val_mae: 50290.9414
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 528us/step - loss: 49612.7070 - mae: 49612.7070 - val_loss: 50298.9844 - val_mae: 50298.9844
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 531us/step - loss: 49808.6992 - mae: 49808.6992 - val_loss: 50297.6523 - val_mae: 50297.6523
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 531us/step - loss: 49165.0156 - mae: 49165.0156 - val_loss: 50298.4805 - val_mae: 50298.4805
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - loss: 49416.3398 - mae: 49416.3398 - val_loss: 50298.5469 - val_mae: 50298.5469
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - loss: 49562.5820 - mae: 49562.5820 - val_loss: 50288.1602 - val_mae: 50288.1602
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - loss: 49774.1016 - mae: 49774.1016 - val_loss: 50284.3242 - val_mae: 50284.3242
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - loss: 49336.7148 - mae: 49336.7148 - val_loss: 50286.5625 - val_mae: 50286.5625
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - loss: 50432.2578 - mae: 50432.2578 - val_loss: 50283.7344 - val_mae: 50283.7344
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 537us/step - loss: 49656.8555 - mae: 49656.8555 - val_loss: 50287.6055 - val_mae: 50287.6055
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 529us/step - loss: 49632.4961 - mae: 49632.4961 - val_loss: 50282.1641 - val_mae: 50282.1641
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 528us/step - loss: 49789.1094 - mae: 49789.1094 - val_loss: 50285.2539 - val_mae: 50285.2539
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 531us/step - loss: 49164.6328 - mae: 49164.6328 - val_loss: 50281.6719 - val_mae: 50281.6719
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - loss: 49381.4102 - mae: 49381.4102 - val_loss: 50282.9609 - val_mae: 50282.9609
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 628us/step - loss: 49370.7617 - mae: 49370.7617 - val_loss: 50281.3242 - val_mae: 50281.3242
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - loss: 49443.8984 - mae: 49443.8984 - val_loss: 50281.1484 - val_mae: 50281.1484
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - loss: 50200.4375 - mae: 50200.4375 - val_loss: 50275.4844 - val_mae: 50275.4844
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 537us/step - loss: 49025.1055 - mae: 49025.1055 - val_loss: 50271.8359 - val_mae: 50271.8359
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - loss: 49503.8750 - mae: 49503.8750 - val_loss: 50269.3945 - val_mae: 50269.3945
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 682us/step - loss: 49835.6992 - mae: 49835.6992 - val_loss: 50271.5938 - val_mae: 50271.5938
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 605us/step - loss: 49341.6875 - mae: 49341.6875 - val_loss: 50272.8516 - val_mae: 50272.8516
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 540us/step - loss: 49337.5000 - mae: 49337.5000 - val_loss: 50272.8906 - val_mae: 50272.8906
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 538us/step - loss: 49410.1289 - mae: 49410.1289 - val_loss: 50274.5234 - val_mae: 50274.5234
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 532us/step - loss: 49665.8516 - mae: 49665.8516 - val_loss: 50271.1562 - val_mae: 50271.1562
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - loss: 49503.9961 - mae: 49503.9961 - val_loss: 50274.1484 - val_mae: 50274.1484
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 714us/step - loss: 49821.4141 - mae: 49821.4141 - val_loss: 50279.3867 - val_mae: 50279.3867
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 688us/step - loss: 49334.0312 - mae: 49334.0312 - val_loss: 50273.5625 - val_mae: 50273.5625
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 551us/step - loss: 49757.5195 - mae: 49757.5195 - val_loss: 50270.2852 - val_mae: 50270.2852
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 538us/step - loss: 49470.1055 - mae: 49470.1055 - val_loss: 50282.9297 - val_mae: 50282.9297

In [20]:
%load_ext tensorboard

In [22]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 15668), started 0:00:46 ago. (Use '!kill 15668' to kill it.)

In [23]:
## Evaluate model on the test data

test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test Loss: {test_loss}")
print(f"Test Mean Absolute Error: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 409us/step - loss: 50987.5781 - mae: 50987.5781
Test Loss: 50269.39453125
Test Mean Absolute Error: 50269.39453125